<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  <link rel="stylesheet" href="/pypestream-theme.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://abodelot.github.io/jquery.json-viewer/json-viewer/jquery.json-viewer.js"></script>
  <link href="https://abodelot.github.io/jquery.json-viewer/json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <title>App</title>
</head>
<body>
<a href="/integrations">Integrations</a>
</body>
</html>