<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://abodelot.github.io/jquery.json-viewer/json-viewer/jquery.json-viewer.js"></script>
  <link href="https://abodelot.github.io/jquery.json-viewer/json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet">
  <title>App</title>

</head>
<body>
  <ul>
    <li>
      <a href="/settings">Settings</a>
    </li>
  </ul>
</body>
</html>