<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  <link rel="stylesheet" href="/pypestream-theme.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://abodelot.github.io/jquery.json-viewer/json-viewer/jquery.json-viewer.js"></script>
  <link href="https://abodelot.github.io/jquery.json-viewer/json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet">
  <title>App</title>
  <script>
    $(document).ready(function(){
      var data = '{{message}}'.replace(/&quot;/g, '\"');
      $('#json-renderer').jsonViewer(JSON.parse(data));
      console.log(location.protocol + '//' + location.host);
      $('#serviceNow_callbackURL').val(location.protocol + '//' + location.host);
      $('#genesys_callbackURL').val(location.protocol + '//' + location.host);
    })
  </script>
</head>
<body>

<a href="/">Back to homepage</a>
<br>
<br>
<h4>
  Settings
</h4>
<p>
  <br>
  <code>/contactCenter/v1/settings</code> <br>
  <br>
</p>
<form action="/settings" method="post" >
  <input type="hidden" name="callbackURL" id="serviceNow_callbackURL" value="xxxx">
  <input type="hidden" name="integrationName" id="integrationName" value="ServiceNow">
  <button type="submit">Use ServiceNow integration</button>
</form>
<form action="/settings" method="post" >
  <input type="hidden" name="callbackURL" id="genesys_callbackURL" value="xxxx">
  <input type="hidden" name="integrationName" id="integrationName" value="Genesys">
  <button type="submit">Use Genesys integration</button>
</form>
<pre id="json-renderer"></pre>
</body>
</html>